@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0eef3;
  font-family: "Dongle", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

input {
  height: 35px;
  width: 165px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
  font-size: 1.2rem;
}

li {
  margin-top: 10px;
}

button {
  height: 30px;
  width: 60px;
  background-color: #ff0f93;
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
}
